@page "{id:int?}"
@model FarmApp.Pages.Authorized.Customer.Find.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Authorized/Shared/_AppLayout.cshtml";
}

@using Microsoft.AspNetCore.Identity
@using FarmApp.Models;
@using FarmApp.Models.Services;

@inject UserManager<User> UserManager
@inject IFavouriteService FavouriteService

<h1>Details</h1>
<a asp-page="./Index"><i class="fas fa-caret-square-left fa-2x"></i></a>
<hr />

<div>
    <h4>
        @Html.DisplayFor(model => model.Shop.Name)&nbsp;

        @if (FavouriteService.IsFavourite(Model.Shop, UserManager.GetUserId(User)))
        {
            <a asp-page="/Authorized/Customer/Favourites/Delete" asp-route-id="@FavouriteService.FindFavouriteId(Model.Shop, UserManager.GetUserId(User))"><i class="fas fa-heart fa-sm" style="color: red;"></i></a>
        }
        else
        {
            <a asp-page="/Authorized/Customer/Favourites/Create" asp-route-id="@Model.Shop.Id" style="color: grey;"><i class="fas fa-heart fa-sm"></i></a>
        }
        &nbsp;
        <a asp-page="/Authorized/Customer/Messages/Create" asp-route-id="@Model.Shop.Id"><i class="fa fa-paper-plane fa-sm"></i></a>

    </h4>
    <div class="product-head d-flex justify-content-between align-items-center">
        <div class="score">
            <a class="score-wrap" href="/Authorized/Customer/Reviews/@Model.Shop.Id">
                <span class="stars-active" style="width: @Model.RatingAverage%;">
                    <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                </span>
                <span class="stars-inactive">
                    <i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
                </span>
            </a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-30">
            <div class="product-card mx-auto mb-3">
                <div class="product-thumb">
                    @if (Model.Shop.Image != null)
                    {
                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Shop.Image)" style="width: 100%;" />
                    }
                    else
                    {
                        <img src="https://cdn.pixabay.com/photo/2015/12/22/04/00/photo-1103595_960_720.png" alt="Shop Thumbnail">
                    }
                </div>
                <div class="product-card-body" style="text-align: justify;">
                    <br />
                    <p>
                        @Html.DisplayFor(model => model.Shop.Description)
                    </p>
                </div>
            </div>
        </div>
        <div class=col-lg-4 col-md-6 col-sm-12 mb-30">
            <div class="product-card mx-auto mb-3">
                <div class="product-thumb">
                    <div id="map-details"></div>
                    <input type="hidden" id="latitude" value="@Model.Shop.Latitude" />
                    <input type="hidden" id="longitude" value="@Model.Shop.Longitude" />
                </div>
                <div class="product-card-body">
                    <br />
                    <span class="product-price" style="text-align: justify;">
                        <b>Address:</b>
                    </span>
                    <span class="product-price">
                        @Html.DisplayFor(model => model.Shop.Address)<br>
                    </span>
                    <span class="product-price" style="text-align: justify;">
                        <b>Contact:</b>
                    </span>
                    <span class="product-price">
                        @Html.DisplayFor(model => model.Shop.Email)<br>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-30">
            <div class="product-card mx-auto mb-3">
                <div class="product-card-body" style="text-align: justify;">
                    <span class="product-price">
                        <b>Reviews</b>&nbsp;&nbsp;
                    </span>
                    <br />
                    @foreach (var item in Model.Review)
                    {
                        <div class="row  d-flex align-items-center">
                            <div class="col">
                                @Html.DisplayFor(modelItem => item.Comment)
                            </div>
                        </div>
                        <hr />
                    }
                    <div class="product-buttons-wrap">
                        <div class="product-buttons">
                            <div class="product-button"><a asp-page="/Authorized/Customer/Reviews/Create" asp-route-id="@Model.Shop.Id"><i class="fa fa-plus text-black-50" aria-hidden="true"></i></a></div>
                            <div class="product-button"><a asp-page="/Authorized/Customer/Reviews/Index" asp-route-id="@Model.Shop.Id"><i class="fas fa-ellipsis-h fa-sm text-black-50"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="~/js/map-details.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ_KktQr3pdKvnjWBUatYZuf31ek4WaP8&callback=initMap&libraries=&v=weekly"
            async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.10.0/feather.js"></script>
}
