@page
@model FarmApp.Pages.Authorized.Customer.Find.IndexModel

@{
    ViewData["Title"] = "Find";
    Layout = "~/Pages/Authorized/Shared/_AppLayout.cshtml";
}

@using Microsoft.AspNetCore.Identity
@using FarmApp.Models;
@using FarmApp.Models.Services;

@inject UserManager<User> UserManager
@inject IFavouriteService FavouriteService

<h1>Find Shops</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-6 text-center">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Find by Name" class="btn btn-primary btn-find-shops" asp-page-handler="FindByName" />
                <input type="submit" value="Find All" class="btn btn-primary btn-find-shops" asp-page-handler="FindAll"/>
            </div>
        </form>
    </div>
</div>

<div class="row">
    @foreach (var item in Model.Shop)
    {

        <div class="col-lg-4 col-sm-6 mb-30" style="margin-bottom: 20px;">
            <div class="product-card mx-auto mb-3">
                <div class="product-head d-flex justify-content-between align-items-center">
                    <div class="rating-stars">
                        <i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i>
                    </div>

                    @if (FavouriteService.IsFavourite(item, UserManager.GetUserId(User)))
                    {
                        <div><a asp-page="/Authorized/Customer/Favourites/Delete" asp-route-id="@FavouriteService.FindFavouriteId(item, UserManager.GetUserId(User))"><i class="fas fa-heart fa-md" style="color: red;"></i></a></div>
                    }
                    else
                    {
                        <div><a asp-page="/Authorized/Customer/Favourites/Create" asp-route-id="@item.Id" style="color: grey;"><i class="fas fa-heart fa-md"></i></a></div>
                    }

                </div>
                <a class="product-thumb" href="./Find/Details/@item.Id">
                    @if (item.Image != null)
                    {
                        <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" style="width: 100%;" />
                    }
                    else
                    {
                        <img src="https://cdn.pixabay.com/photo/2015/12/22/04/00/photo-1103595_960_720.png" alt="Shop Thumbnail">
                    }
                </a>
                <div class="product-card-body">
                    <br />
                    <h5 class="product-title"><a asp-page="./Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></h5>
                    <span class="product-price">
                        @Html.DisplayFor(modelItem => item.Address)<br>
                    </span>
                </div>
                <div class="product-buttons-wrap">
                    <div class="product-buttons">
                        <div class="product-button"><a asp-page="./Details" asp-route-id="@item.Id"><i class="fas fa-info-circle fa-lg"></i></a></div>
                        <div class="product-button"><a asp-page="/Authorized/Customer/Messages/Create" asp-route-id="@item.Id"><i class="fa fa-paper-plane fa-lg"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.10.0/feather.js"></script>
}
