@page "{id:int?}"
@model FarmApp.Pages.Authorized.Farmer.Shops.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Authorized/Shared/_AppLayout.cshtml";
}

<h1>Details</h1>
<a asp-page="./Index"><i class="fas fa-caret-square-left fa-2x"></i></a>
<hr />

<div>
    <h4>
        @Html.DisplayFor(model => model.Shop.Name)
        &nbsp;&nbsp;<a asp-page="./Edit" asp-route-id="@Model.Shop.Id"><i class="fas fa-edit fa-sm"></i></a>
        &nbsp;<a asp-page="./Delete" asp-route-id="@Model.Shop.Id"><i class="far fa-trash-alt fa-sm"></i></a>
    </h4>
    <div class="product-head d-flex justify-content-between align-items-center">
        <div class="rating-stars">
            <i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i>
        </div>
    </div>
    <br />
    <small><i>Created: @Html.DisplayFor(model => model.Shop.CreateDate)</i></small><br />
    <small><i>Last Modified: @Html.DisplayFor(model => model.Shop.ModifiedDate)</i></small>
    <br />
    <hr />
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-30">
            <div class="product-card mx-auto mb-3">
                <a class="product-thumb" href="#"><img src="https://cdn.pixabay.com/photo/2015/12/22/04/00/photo-1103595_960_720.png" alt="Product Thumbnail"></a>
                <div class="product-card-body" style="text-align: justify;">
                    <br />
                    <p>
                        @Html.DisplayFor(model => model.Shop.Description)
                    </p>
                </div>
            </div>
        </div>
        <div class=col-lg-4 col-md-6 col-sm-12 mb-30">
            <div class="product-card mx-auto mb-3">
                <a class="product-thumb" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/6/66/World_Map_Grayscale.png" alt="Product Thumbnail"></a>
                <div class="product-card-body">
                    <br />
                    <span class="product-price" style="text-align: justify;">
                        <b>Address:</b>
                    </span>
                    <span class="product-price">
                        @Html.DisplayFor(model => model.Shop.Address)<br>
                    </span>
                    <span class="product-price" style="text-align: justify;">
                        <b>Contact:</b>
                    </span>
                    <span class="product-price">
                        @Html.DisplayFor(model => model.Shop.Email)<br>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-30">
            <div class="product-card mx-auto mb-3">
                <div class="product-card-body" style="text-align: justify;">
                    <span class="product-price">
                        <b>Reviews</b>&nbsp;&nbsp;
                    </span>
                    <br />
                    @foreach (var item in Model.Reviews)
                    {
                        <div class="row  d-flex align-items-center">
                            <div class="col">
                                @Html.DisplayFor(modelItem => item.Comment)
                            </div>
                        </div>
                        <hr />
                    }
                    <div class="product-buttons-wrap">
                        <div class="product-buttons">
                            <div class="product-button"> <a asp-page="/Authorized/Farmer/Reviews" asp-route-id="@Model.Shop.Id"><i class="fas fa-ellipsis-h fa-sm text-black-50"></i></a></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.10.0/feather.js"></script>
}
