@page
@model FarmApp.Pages.Authorized.Farmer.Messages.ReceivedModel

@{
    ViewData["Title"] = "Received";
    Layout = "~/Pages/Authorized/Shared/_AppLayout.cshtml";
}

<meta http-equiv="refresh" content="5">

<h1>Messages</h1>
<h4>Received</h4>
<a href="/Authorized/Farmer/Messages"><i class="fas fa-caret-square-left fa-2x"></i></a>
<hr />

<div>
    @foreach (var item in Model.Message)
    {
        <div class="row  d-flex align-items-center">
            <div class="col-lg-4 col-md-6 col-sm-8 text-center">
                <div class="row">
                    <div class="col">
                        <b>From: @Html.DisplayFor(modelItem => item.User.UserName)</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        To: @Html.DisplayFor(modelItem => item.Shop.Name)
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <small><i>@Html.DisplayFor(modelItem => item.CreateDate)</i></small>
                    </div>
                </div>
                <div class="row" style="margin-top: 8px;">
                    <div class="col">
                        <div class="product-buttons-wrap">
                            <div class="product-buttons">
                                <a asp-page="/Authorized/Farmer/Messages/Create" asp-route-id1="@item.Shop.Id" asp-route-id2="@item.User.Id"><i class="fa fa-reply fa-lg text-black-50"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-4" style="border-left: solid 0.5px lightgrey;">
                @Html.DisplayFor(modelItem => item.Content)
            </div>
        </div>
        <hr />
    }
</div>